/* MovieCard.css */
.movie-card {
    background-color: #1c1c1c;
    padding: 10px 5px;
    margin: 0 10px;
    border-radius: 8px;
    color: white;
    width: 300px; /* Fixed width */
    height: 470px; /* Fixed height */
    flex: 0 0 auto; /* Prevent shrinking */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Ensure padding is included in width/height */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  

  
  .movie-overview {
    font-size: 0.9rem;
    color: #666;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

 
  .movie-card img {
    width: 100%;
    height: 350px;
    object-fit:contain;
    border-radius: 8px;
  }
  
  .movie-info {
    padding: 5px 0;
    text-align: center;
  }
  
  .movie-info h3 {
    font-size: 1em;
    margin: 5px 0;
  }
  
  .movie-info p {
    margin: 2px 0;
    font-size: 0.85em;
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  .loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  /* Hover effect */
  .movie-card:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4); /* Add a shadow */
    z-index: 1; /* Bring the card to the front */
  }
  