/* User Profile Dropdown Styles */
.user-profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.userPanel{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.8rem;
}

.user-name{
  color: chartreuse;
  text-transform: uppercase;
}

.hello{
  color: black;
}

.profile-img {
  width: 50px;
  height: 50px;
}

.dropdown-menu {
  position: absolute;
  top: 40px; /* Adjust the distance between the profile icon and the dropdown */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  display: none;
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  background-color: #0056b3; /* Dark blue background for both buttons */
  transition: background-color 0.2s ease;
  width: 100%; /* Ensure both buttons take up the full width of the dropdown */
  box-sizing: border-box; 
  margin-top: 10px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item:active {
  background-color: #e0e0e0;
}

.dropdown-item:nth-child(1) {
  font-weight: 500; 
  color: white; 
  background-color: #0056b3; 
  border-radius: 3px; 
  padding: 10px 15px; 
}
.dropdown-item:nth-child(1):hover {
  background-color: #003366; 
}

/* Hover effect */
.logout-btn:hover {
  background-color: white;
  color: red;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: bolder;
}


.dropdown-item:nth-child(2) {
  font-weight: 500; 
  color: white; 
  background-color: #0056b3; 
  border-radius: 3px; 
  padding: 10px 15px; 
  margin-top: 10px;
}

.dropdown-item:nth-child(2):hover {
  background-color: #003366; 
}

.user-profile .dropdown-menu {
  display: block;
}
